
@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myScripts.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>*@
</head>
<body>
    <header>
        <nav id="header_nav_bar">
        </nav>
    </header>

    <div class="container"> 
        <iframe width="560" height="315" id="youtube_iframe" 
                src="https://www.youtube.com/embed/NA2kXY7rOms" frameborder="0" allowfullscreen>
        </iframe>
        <div class="dropdown" id="video_playlist">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Want to Watch a Different Video?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="youtube_playlist hidden" value="NA2kXY7rOms"><a>I'll Go Where You Want Me to Go</a></li>
                <li class="youtube_playlist" value="8hMh6YYjPEU"><a>Praise to the Man</a></li>
                <li class="youtube_playlist" value="10DCinrTdnQ"><a>Hope of Israel</a></li>
                <li class="youtube_playlist" value="aSpr8XQNdxo"><a>Joseph Smith's First Prayer</a></li>
            </ul>
        </div>
    </div>

    <footer class="panel-footer text-muted" id="footer">
        <div id="footer_nav_bar">

        </div>
    </footer>
</body>
</html>

<script>
    $(document).ready(function () {
        //Get and insert header navbar HTML
        var head_nav_html = getNavBar();
        $('#header_nav_bar').html(getNavBar);

        //Get and insert footer navbar HTML
        var foot_nav_html = getFootNavBar();
        $('#footer_nav_bar').html(getFootNavBar);

        //Make appropriate navbar link active
        var nav_location = this.location.pathname.replace('/Home/', '');
        $('a[href="' + nav_location + '"]').parent().addClass('active');
    });

    $('.youtube_playlist').click(function (event) {
        //Update iframe source with selected dropdown option value (contains YouTube video ID)
        $('#youtube_iframe').attr('src', "https://www.youtube.com/embed/" + $(this).attr("value"));
        console.log($('#youtube_playlist[value=' + $(this).attr("value") + ']').attr("class"));

        $('.youtube_playlist').removeClass("hidden");
        $('.youtube_playlist[value="' + $(this).attr("value") + '"]').addClass("hidden");
    });
</script>