
@{
    Layout = null;
}

<!DOCTYPE html>

<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mission Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/myScripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav id="header_nav_bar">
        </nav>
    </header>

    <div class="container">

    </div>

    <footer class="panel-footer text-muted" id="footer">
        <div id="footer_nav_bar">

        </div>
    </footer>
</body>
</html>

<script>
    $(document).ready(function () {
        //Get and insert header navbar HTML
        var head_nav_html = getNavBar();
        $('#header_nav_bar').html(getNavBar);

        //Get and insert footer navbar HTML
        var foot_nav_html = getFootNavBar();
        $('#footer_nav_bar').html(getFootNavBar);

        //Make appropriate navbar link active
        var nav_location = this.location.pathname.replace('/Home/', '');
        $('a[href="' + nav_location + '"]').parent().addClass('active');
    });
</script>